@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.hidden {
	display: none !important;
}

.active {
	box-shadow: 0 0 15px 5px #0474bc;
	border-radius: 50%;
	cursor: pointer;
}

body {
	height: 100vh;
	width: 100vw;
	color: #0474bc;
	font-family: "Roboto", sans-serif;
	font-size:18px;
	font-weight: 500;
	line-height: 1.1;
}

button {
	font-family: "Roboto", sans-serif;
	font-size: 21px;
	font-weight: 500;
	line-height: 1.1;
	background-color: white;
	border-radius: 18px;
	cursor: pointer;
}

input[type="range"] {
	width: 100%;
}

#BOX {
	display: flex;
	height: 100%;
	width: 100%;
}

#LOGO {
	position: absolute;
	z-index: 100;
	top: 15px;
	left: 15px;
	height: 65px;
}

#MAP {
	position: relative;
	height: 100%;
	width: 75%;
	border: 3px solid #0474bc;
}

#SCREEN {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 75%;
	padding-top: 100px;
}

#INFO-1 {
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	height: 100%;
	width: 25%;
	background-color: white;
	padding: 15px;
}

#INFO-2 {
	display: flex;
	flex-direction: column;
	padding: 15px;
	overflow-y: scroll;
	height: 100%;
	width: 25%;
	background-color: white;
}

#INFO-2__index > *:first-child,
#INFO-2__objects > *:first-child { /* отступы заголовков */
	margin-bottom: 10px;
}

#INFO-2__radius > div:first-child,
#INFO-2__places > div:first-child { /* заголовок ренджа */
	display: flex;
	justify-content: space-between;
}

#INFO-2__radius > div:last-child,
#INFO-2__places > div:last-child { /* мин и макс значения ренджа */
	display: flex;
	justify-content: space-between;
}

#generate {
	border: 3px solid #04bb2c;
	color: #04bb2c;
	height: 50px;
	width: 100%;
}

#generate:hover {
	background-color: #04bb2c;
	color: white;
}

#INFO-2__index > div { /* значение индекса */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 120px;
	background-color: #0474bc;
	color: white;
	border-radius: 22.5px;
}

#INFO-2__objects {

}

#INFO-2__objects__objects {
	font-weight: 400;
}

.object {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 300px;
	width: calc(100% - 10px);
	background-color: white;
	border: 3px solid #0474bc;
	border-radius: 18px;
	padding: 10px;
}

.object:not(:last-child) {
	margin-bottom: 10px;
}

.object > div {
	display: flex;
	justify-content: space-between;
}

.object > div:not(:nth-child(2)) > *:last-child {
	font-weight: 500;
}

.object > div:nth-child(5) > div,
.object > div:nth-child(6) > div { /* значения индексов */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	width: 100px;
	border-radius: 13.5px;
}

.object > div:nth-child(5) > div {
	background-color: white;
	border: 1px solid #0474bc;
}

.object > div:nth-child(6) > div {
	background-color: #0474bc;
	color: white;
}

#lolkek {
	position: absolute;
	z-index: 100;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
	height: 100px;
	width: 100px;
	border-radius: 50%;
	color: white;
	background-color: red;
	font-size: 15px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#select_area {
	position: absolute;
	bottom: 10%;
	left: calc(50% - 150px);
	border: 3px solid #0474bc;
	color: #0474bc;
	height: 50px;
	width: 300px;
}

#SCREEN__map {
	max-height: 100%;
	max-width: 100%;
	border: 3px solid #0474bc;
	border-radius: 18px;
}

.filter_div {
	position: relative;
	display: inline-block;
	width: 100%;
}
.filter_div + .filter_div { margin-top: 5px; }
.filter_btn {
	background-color: white;
	color: #0474bc;
	border: 3px solid #0474bc;
	border-radius: 18px;
	padding: 16px;
	font-size: 21px;
	font-weight: 500;
	cursor: pointer;
	width: 100%;
	max-width: 320px;
	margin: auto;
	display: block;
	min-height: 60px;
	box-shadow: 0 0 7px #110932;
}
.filter_btn img { vertical-align: top; }
.filter_input {
	box-sizing: border-box;
	background-image: url('searchicon.png');
	background-position: 14px 12px;
	background-repeat: no-repeat;
	font-size: 18px;
	padding: 14px 20px 12px 20px;
	border: none;
	border-bottom: 1px solid #ddd;
	color: #0474bc;
	width: 100%;
	height: 50px;
}
.filter_input:focus { outline: 1px solid #0474bc; }
.filter_list {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid #ddd;
	z-index: 1;
	cursor: pointer;
	border-radius: 18px;
	max-height: 300px;
	overflow: auto;
	max-width: 320px;
	width: 100%;
	left: 0;
	right: 0;
	margin: auto;
}
.filter_list a {
	color: #0474bc;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.filter_list a:hover { background-color: #0474bc10; }
.filter_list a.clear { position: absolute; right: 0; top: 0; height: 49px; }
.filter_list a.selected { background: #eee; }
.filter_btn.show + .filter_list { display:block; }
#okr_div { z-index: 2; }

.indicator { color: #0474bc; border: 3px solid; border-radius: 18px; padding: 16px; width: 267px; max-width: 100%; margin: 5px auto; }
.indicator .value { font-size: 32px; font-weight: 800; margin-top: 12px; }

.m_title { text-align: center; font-size: 24px; margin: 8px 0 4px; }
.school_indicator .table { width: max-content; border: 3px solid #0474bc; border-radius: 18px; margin: auto; }
.school_indicator .val { font-size: 28px; font-weight: 800; }
.school_indicator .text { font-size: 12px; }
.school_indicator .row { display: flex; padding: 0 24px; margin: 12px 0; }
.school_indicator .cell { display: flex; flex-direction: column; }
.school_indicator .cell:first-child { padding-right: 32px; text-align: center; }

#INFO-2__index, #INFO-2__objects { padding-top: 15px; }

.form_field { position: relative; width: 100%; padding-top: 16px; padding-bottom: 16px; }
.form_field input, .form_field select, .form_field textarea { width: 100%; }
.form_field input, .form_field select, .form_field textarea { padding: 12px 20px 0; border-radius: 16px; line-height: 36px; color: #0474bc; }
.form_label { position: absolute; left: 20px; top: 18px; transition: 0.1s; opacity: 0.7; } .form_field textarea {line-height:initial;padding-top:20px;}
.form_field input[type="checkbox"] { margin-left: 8px; } input:not([type="checkbox"],[type="range"]) ~ .form_label { pointer-events: none; }
.form_field input[type="checkbox"] ~ .form_label { top: -8px; left: 30px; padding: 8px 0; font-size: inherit; }
.form_field.valued .form_label, .form_field input:not([type="checkbox"]):focus ~ .form_label, .form_field textarea:focus ~ .form_label,
    .form_field select ~ .form_label, .form_field input[type="file"] ~ .form_label{ top: 8px; font-size: 12px; }
input[type="range"] { -webkit-appearance: none; appearance: none; height: 4px; margin-top: 30px; padding: 0; border: 0; box-shadow: none; }
input[type="range"] + .my_values { display: flex; justify-content: space-between; margin-top: 6px; } .my_values > :not(.text_value) { opacity: 0.8; }
input[type="range"] + .my_values + label { top: 8px; left: 0; opacity: 1; font-size: inherit!important; }
input[type="range"] + .my_values .text_value { position: absolute; right: 0; top: 8px; }
input[type="range"]::-webkit-slider-thumb { position: relative; -webkit-appearance: none; width: 16px; height: 16px;
    padding: 8px; border-radius: 50%; background: #ec0e4c; box-shadow: 0 0 6px; cursor: pointer; z-index: 11; }

body,
body * {
	background-color: #f4faff !important;
	color: #110932 !important;
	border-color: #110932 !important;
}

#INFO-1__top {
	display: flex;
	justify-content: space-between;
	width: 75%;
	min-width: 250px;
	margin: 0 auto;
	height: 50px;
	margin-bottom: 10px;
}

#INFO-1__top img {
	height: 50px;
}

#INFO-1__bottom {
	text-align: center;
	width: 75%;
	margin: 15px auto 0;
}

#INFO-1__bottom > div:last-child {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	height: 50px;
}

#INFO-1__bottom img {
	height: 50px;
}

a,
a:visited,
a:active {
	color: #ec0e4c !important;
}

#MAP,
#SCREEN {
	border-color: #ec0e4c !important;
}

.expand {
	height: 25px;
}

#mayor_of_moscow {
	color: #ec0e4c !important;
}

#mayor_of_moscow { font-size: 14px; }