<!DOCTYPE html>
{% load static %}
{% load filters %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>SREDA – образование</title>
	<link rel="shortcut icon" href="{% static 'img/icon.png' %}">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div id="BOX">

	<img id="LOGO" src="{% static 'img/logo.png' %}" title="Команда проекта SREDA разработала настоящий сайт и гордится этим"
		 onclick="$('#MAP').removeClass('hidden'); $('#SCREEN').addClass('hidden');
		 $('#INFO-1').removeClass('hidden'); $('#INFO-2').addClass('hidden'); if (cad) { cad.remove(); } if (iso) { iso.remove(); }">

	<div id="MAP"><iframe src="{% url 'folium' %}?adm={{ adm }}&okr={{ okr }}" frameborder="0" width="100%" height="100%"></iframe></div>

	<div id="SCREEN" class="hidden"><img id="SCREEN__map" src="/static/img/1.jpg"></div>

	<div id="INFO-1">
		<div id="INFO-1__top">
			<div><span id="mayor_of_moscow">Конкурсное решение <br>на соискание премий<br> Мэра Москвы</span></div>
			<div><a href="https://leaders2021.innoagency.ru" target="blank_"><img src="{% static 'img/lct_logo.png' %}"></a></div>
		</div>

		<form action="" method="GET">
			<div class="m_title">Выберите округ и район</div>
			{% include "items/filter.html" with title='Округ' idk='okr' lst=ok val=okr %}
			{% include "items/filter.html" with title='Район' idk='adm' lst=ad val=adm %}
		</form>
		<div class="indicators">
			<div class="m_title">Метрики</div>
			{% for title, value in indicators %}
			<div class="indicator">
				<div class="title">{{ title }}</div>
				<div class="value">{{ value|to_price }}</div>
			</div>
			{% endfor %}
		</div>
		<div class="school_indicator">
			<div class="m_title">Типы районов</div>
			<div class="table">
				<div class="row">
					<div class="cell"><div class="val">{{ school_indicator.0 }}</div><div class="text">районов</div></div>
					<div class="cell"><div class="val">Профицит</div><div class="text">Индекс более 1,1</div></div>
				</div>
				<div class="row">
					<div class="cell"><div class="val">{{ school_indicator.1 }}</div><div class="text">районов</div></div>
					<div class="cell"><div class="val">Норма</div><div class="text">Индекс от 0.9 до 1,1</div></div>
				</div>
				<div class="row">
					<div class="cell"><div class="val">{{ school_indicator.2 }}</div><div class="text">районов</div></div>
					<div class="cell"><div class="val">Дефицит</div><div class="text">Индекс менее 0.9</div></div>
				</div>
			</div>
		</div>

		<div id="INFO-1__bottom">
			<div><span><a href="https://sreda.expert" target="blank_">Связаться с авторами</a></span></div>
			<div>
				<a href="https://sreda.expert" target="blank_"><img src="{% static 'img/sreda_logo.png' %}"></a>
				<a href="https://trend-hunter.ru/" target="blank_"><img src="{% static 'img/trend_hunter_logo.webp' %}"></a>
				<a href="https://www.mgpu.ru/" target="blank_"><img src="{% static 'img/mgpu_logo.svg' %}"></a>
			</div>
		</div>
	</div>

	<div id="INFO-2" class="hidden">
		<div id="INFO-2__radius" class="form_field">
			<input id="radius__range" type="range" min="300" max="1500" step="1" name="radius" class="my_select_slider" value="500">
			<div class="my_values"><div>300</div><div>1500</div><div class="text_value"><span class="value">500</span> </div></div>
			<label for="radius__range" class="form_label">Радиус, м</label>
		</div>

		<div id="INFO-2__places" class="form_field">
			<input id="places__range" type="range" min="100" max="1500" step="1" name="places" class="my_select_slider" value="300">
			<div class="my_values"><div>100</div><div>1500</div><div class="text_value"><span class="value">300</span> </div></div>
			<label for="places__range" class="form_label">Мест в новой школе</label>
		</div>

		<div id="INFO-2__generate">
			<input id="id_lat" type="hidden" name="lat">
			<input id="id_lng" type="hidden" name="lng">
			<button id="generate" onclick="grasshopper()"><p>Генерация</p></button>
		</div>

		<div id="INFO-2__index" class="hidden">
			<p>Индекс в новой школе</p>
			<div class="small-serif">
				<p class="new_index">0.95</p>
			</div>
		</div>

		<div id="INFO-2__objects" class="hidden">
			<p>Объекты</p>
			<div id="INFO-2__objects__objects" class="small-serif"></div>
			<div id="object_template" class="object" style="display: none;">
				<div><p class="object__name"></p></div>
				<div><p class="object__address"></p></div>
				<div><p>Корпусов</p><p class="object__buildings"></p></div>
				<div><p>Учащихся</p><p class="object__customers"></p></div>
				<div>
					<p>Индекс текущий</p>
					<div><p class="object__index_current"></p></div>
				</div>
				<div>
					<p>Индекс прогноз</p>
					<div><p class="object__index_predict"></p></div>
				</div>
			</div>
		</div>
	</div>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>
    iframe = $('iframe')[0].contentWindow; var cad; var iso;
    function map_click(e) {
        console.log(e.latlng.lat, e.latlng.lng);
        if (map.getZoom() >= 14) {
            $.ajax({ url: '{% url "polygon" %}', data: {lat: e.latlng.lat, lng: e.latlng.lng}, success: function(data){
                console.log(data.status); if (cad) { cad.remove(); } if (iso) { iso.remove(); }
                if (data.status) {
                	cad = iframe.L.polygon($.parseJSON(data.polygon), {color: '#ec0e4c'}).addTo(map);
                	iso = iframe.L.geoJSON(data.isochrone, {color: '#110932'}).addTo(map);
                	$('#INFO-1, #INFO-2__index, #INFO-2__objects').addClass('hidden'); $('#INFO-2').removeClass('hidden');
                	$('#INFO-2__objects__objects').empty();
                	$('#id_lat').val(e.latlng.lat); $('#id_lng').val(e.latlng.lng);
               	}
            }});
        }
    }
    function get_generation(n) {
		$.ajax({ url: '/generation/'+n, success: function(data){
			if (data.status) {
				$('#MAP').addClass('hidden'); $('#SCREEN, #INFO-2__index, #INFO-2__objects').removeClass('hidden');
				$('#INFO-2__objects__objects').empty();
				for (let i = 0; i < data.objects.length; i++) {
					temp = $("#object_template").clone(); temp.removeAttr('id'); temp.removeAttr('style');
					for (prop in data.objects[i]) { temp.find('.object__'+prop).text(data.objects[i][prop]); }
					$('#INFO-2__objects__objects').append(temp);
				}
				$('.new_index').text(data.new_index); $('#SCREEN__map').attr("src", data.grasshopper_img);
				$('#generate').prop( "disabled", false );
			} else { setTimeout(() => get_generation(n), 1000); }
		}});
	}
    function grasshopper() {
    	lat = $('#id_lat').val(); lng = $('#id_lng').val();
		$.ajax({ url: '/grasshopper?lat='+$('#id_lat').val()+'&lng='+$('#id_lng').val()+'&radius='+$('#radius__range').val()+'&seats='+$('#places__range').val(), success: function(data){
			if (data.status) { get_generation(data.n); $('#generate').prop( "disabled", true ); }
		}});
	}
    (async() => {
        while(!(iframe.$ && iframe.$('.folium-map')))
            await new Promise(resolve => setTimeout(resolve, 1000));
        map_id = iframe.$('.folium-map').attr('id');
        while(!(iframe[map_id] && iframe[map_id].on))
            await new Promise(resolve => setTimeout(resolve, 1000));
        map = iframe[map_id]; map.on('click', map_click);
    })();
</script>
<script src='https://cdn.experrto.io/client/experrto.js'></script>
<script>Experrto.identify("fce4463c7a3026f2fc725addc3d377da46900ae2");</script>
</html>