{% load static %}

<div id="{{ idk }}_div" class="filter_div">
	<button onclick="$(this).toggleClass('show');" class="filter_btn" type="button">
		<span class="title{% if val %} hidden{% endif %}">{{ title }}</span>
		<span class="val">{% if val %}{{ val }}{% endif %}</span>
		<img src="{% static 'img/expand.svg' %}" alt="">
	</button>
	<div class="filter_list">
		<input type="hidden" id="id_{{ idk }}" name="{{ idk }}" value="{{ val }}" class="filter_hidden">
		<input type="text" placeholder="Поиск..." id="{{ idk }}" class="filter_input">
		{% if val %}<a class="clear"><img src="{% static 'img/close.svg' %}" alt="Очистить"></a>{% endif %}
		{% for txt in lst %}<a{% if txt == val %} class="selected"{% endif %}>{{ txt }}</a>{% endfor %}
	</div>
</div>